html
{text-transform:initial ;
margin: 10px
;}


@font-face
{font-family: "Test";
src: url(Font\libertinus\LibertinusKeyboard-Regular.otf
); font-weight: 500;
}
@font-face
{font-family: "Test Bold";
src: url(C:\Users\Andras Karunaharan\Test-Repo\CSS\Font\libertinus\LibertinusSerif-Bold.otf);}
h1 {color: rgba(220, 20, 60, 0.329);
    font-family: 'Roboto', sans-serif;;
text-align: center;
position: fixed;
}
h3 {color: rgba(113, 20, 220, 0.329);
    font-family: 'Roboto', sans-serif;;
text-align: left;
}
#Bio {color: rgba(220, 133, 20, 0.329);
    font-family: 'Roboto', sans-serif;;
text-align: left;}
#Skills {color: rgba(20, 57, 220, 0.329);
    font-family: 'Roboto', sans-serif;;
text-align: left;}
.Content {color: rgba(123, 20, 220, 0.329);
    font-family: 'Roboto', sans-serif;
border: solid}
.Bold {font-weight: bold}
.IMG-DIV {
    background-color: blue
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


p {color: darkgrey;
font-size: 16px;
font-family: "Test Italic";
src: url(C:\Users\Andras Karunaharan\Test-Repo\CSS\Font\libertinus\LibertinusSerif-Italic.otf);
text-align :left
text-transform: capitalize;
line-height: normal;
font-weight: 200px 

}
img {width: 14%; height: 14%;
    box-shadow: cadetblue;
    margin: 2%   ;

}
#IMG-01 {
    display: block;
    position: ;
}